body{
    background:rgb(3, 3, 2)
}
.top{
    position:absolute;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 99;
}

.white{
    float: left;
    height: 500px;
    width: 80px;
    cursor: pointer;

}
.black, .black2,.black3, .black4, .black5, .black6, .black7, .black8, .black9, .black10 {
    position: absolute;
    height: 350px;
    width: 40px;
    z-index: 99px;
    margin-top: 0px;
    margin-left: -1060px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 10px 5px gray;
    background: linear-gradient(to bottom,gray 0%,black 100%);
    cursor: pointer;
}
.black:active {
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black2{

    margin-left: -980px;
}
.black2:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black3{
    margin-left: -820px;
}
.black3:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black4{
    margin-left: -740px;
}
.black4:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black5{
    margin-left: -660px;
}
.black5:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black6{
    margin-left: -500px;
}
.black6:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black7{
    margin-left: -420px;
}
.black7:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black8{
    margin-left: -260px;
}
.black8:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black9{
    margin-left: -180px;
}
.black9:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}
.black10{
    margin-left: -100px;
}
.black10:active{
    background: linear-gradient(to bottom,black 0%,gray 100%);    
}